/* post style */

#right .post h2 { margin-top:0.5em; margin-bottom:50px; }
.post_wrap { margin-bottom:8em; font-size:13px; line-height:30px; }
.post_wrap p, .post_wrap span { margin:0; padding:0; font-size:14px; color:#aaa;  }
.post_wrap img { display:block; margin:20px auto; max-width:100%; height:auto; }
.post_wrap > ul.inform { margin:40px 0; padding:0; } 
.post_wrap > ul.inform li { display:block; padding:0; font-size:14px; color:#888; } 
.post_wrap > ul.inform li a, .post_wrap > ul.inform li.preview__catetory a { color:#888; } 
.post_wrap > ul.inform li.preview__catetory a:after { content:", " }
.post_wrap > ul.inform li.preview__catetory a:last-child:after { content:"" }

.post_row .prev, .post_row .next { width:40%; }
.post_row .prev { float:left; text-align:left; }
.post_row .next { float:right; text-align:right; }
.post_row .prev span.txt, .post_row .next span.txt { display:inline-block; margin-bottom:10px; font-size:14px; color:#aaa; line-height:20px; }
